.Days{
    width: 900px;
    height: 100px;
    margin-top: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
